.timer {
  animation: show 3s linear forwards;


  @keyframes show {
    0%, 50% {
        opacity: 0;
    }
    50.01%, 100% {
        opacity: 1;
    }
}

&__loader {
  animation: hide 3s linear forwards;
  transition-property: visibility;
  opacity: 1;
  

  @keyframes hide {
    0%, 50% {
        opacity: 1;
        
    }
    50.01%, 100% {
        visibility: hidden;
    }
}
}
}

.loader {
  position: relative;
  height: 125px;
  width: 125px;
  display: inline-block;
  border: 2px solid rgba(255,255,255,0.2);
  border-radius: 50%;
  border-left-color: $color-confirm;
  animation: rotate 1.2s linear infinite;
  

  @keyframes rotate {
    50%{
      border-left-color: $color-button-primary-1;
    }
    75%{
      border-left-color: $color-confirm;
    }
    100%{
      transform: rotate(360deg);
    }
  } 

  &__center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
  }

@keyframes check-icon {
  0%{
    height: 0;
    width: 0;
    opacity: 1;
  }
  20%{
    height: 0;
    width: 28px;
    opacity: 1;
  }
  40%{
    height: 56px;
    width: 28px;
    opacity: 1;
  }
  100%{
    height: 56px;
    width: 28px;
    opacity: 1;
  }
}
